<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>

<h1>Resault Table</h1>
<table class="table">
    <tr class="table__header">
        {% for header in headings %}
            <th class="table__cell">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
        <tr class="table__row">
            <td class="table_cell">{{ row.no }}</td>
            <td class="table_cell">{{ row.repo_name }}</td>
            <td class="table_cell">{{ row.repo_description }}</td>
            <td class="table_cell">{{ row.programing_language }}</td>
            <td class="table_cell">{{ row.num_of_open_issues_count }}</td>
            <td class="table_cell">{{ row.num_of_pulls_requests }}</td>
            <td class="table_cell">{{ row.last_update }}</td>
        </tr>
    {% endfor %}
    <tr>

    </tr>
</table>

</body>
</html>